<div class="help">
	<h3>Better User Experience:</h3>
	<ul>
		<li>Configurability (no-more one-size-fits-all solution)</li>
		<li>Flexible design (adjusts to users’ changing preferences)</li>
		<li>Feedback loop (insights into usage)</li>
	</ul>

	<h3>Efficient Marketing Campaigns:</h3>
	<ul>
		<li>Reduction in Time-to-market (design, develop and deploy)</li>
		<li>Allows sharing work and Collaborative Design and Development efforts</li>
		<li>Promotes more interaction and discussions between all stakeholders (Devs, Designers and Marketing people)</li>
	</ul>

	<h3>Increase Productivity:</h3>
	<ul>
		<li>Lot less coding (Do it once and use it anywhere)</li>
		<li>Ease in Development and Maintenance</li>
		<li>Requires less testing efforts</li>
	</ul>

	<h3>Maintenance and Ongoing Development:</h3>
	<ul>
		<li>Adheres to the modern JavaScript methodologies and practices (Component Architecture)</li>
		<li>Features can be pushed to production, in increments and without effecting existing customers</li>
		<li>For more naive users, we can provide a set of Pre-configured dashboards/pages</li>
	</ul>
</div>
