@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?%iconHash%") format("truetype"), url("../fonts/icomoon.woff?%iconHash%") format("woff"), url("../fonts/icomoon.svg?%iconHash%#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* NOTE: content below is directly from exported css file from icomoon;
do not manually change; use icons-derived.less or icons-special.less */
.icon-stroke-im:before {
  content: "\e935";
}
.icon-stroke-drill:before {
  content: "\e936";
}
.icon-stroke-butterfly:before {
  content: "\e937";
}
.icon-stroke-freestyle:before {
  content: "\e938";
}
.icon-stroke-breaststroke:before {
  content: "\e939";
}
.icon-stroke-backstroke:before {
  content: "\e93a";
}
.icon-swim-openwater:before {
  content: "\e933";
}
.icon-swim-pool:before {
  content: "\e934";
}
.icon-kj-kg:before {
  content: "\e900";
}
.icon-watts-kg:before {
  content: "\e932";
}
.icon-energy:before {
  content: "\ee5b";
}
.icon-crown:before {
  content: "\265b";
}
.icon-cadence:before {
  content: "\e92c";
}
.icon-scale:before {
  content: "\ee82";
}
.icon-replace:before {
  content: "\e92d";
}
.icon-substitute:before {
  content: "\e92e";
}
.icon-spring:before {
  content: "\e92f";
}
.icon-spring-weight:before {
  content: "\e930";
}
.icon-pace:before {
  content: "\e923";
}
.icon-pin:before {
  content: "\ea36";
}
.icon-home:before {
  content: "\e92a";
}
.icon-draw:before {
  content: "\e92b";
}
.icon-activity-gym:before {
  content: "\e928";
}
.icon-maximise:before {
  content: "\ee3b";
}
.icon-minimise:before {
  content: "\ee3d";
}
.icon-coffee:before {
  content: "\ebc9";
}
.icon-activity-xtrain:before {
  content: "\e925";
}
.icon-activity-brick:before {
  content: "\e926";
}
.icon-activity-xcski:before {
  content: "\e927";
}
.icon-activity-yoga:before {
  content: "\e91e";
}
.icon-goal-muscular_endurance:before {
  content: "\e921";
}
.icon-activity-run:before {
  content: "\e922";
}
.icon-activity-row:before {
  content: "\e924";
}
.icon-goal-endurance:before {
  content: "\e91f";
}
.icon-goal-strength:before {
  content: "\e920";
}
.icon-activity-swim:before {
  content: "\e91d";
}
.icon-line:before {
  content: "\eee0";
}
.icon-car:before {
  content: "\ec0a";
}
.icon-highway:before {
  content: "\ec11";
}
.icon-route:before {
  content: "\e91a";
}
.icon-pay:before {
  content: "\ea15";
}
.icon-reset:before {
  content: "\ea4b";
}
.icon-graph-power:before {
  content: "\e929";
}
.icon-graph-line:before {
  content: "\f201";
}
.icon-graph-bar:before {
  content: "\f081";
}
.icon-graph-area:before {
  content: "\f1ff";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-zoom-in:before {
  content: "\eb31";
}
.icon-zoom-out:before {
  content: "\eb32";
}
.icon-min:before {
  content: "\e91c";
}
.icon-max:before {
  content: "\ecbe";
}
.icon-sleep:before {
  content: "\e91b";
}
.icon-steps:before {
  content: "\ebd9";
}
.icon-weight:before {
  content: "\ebe6";
}
.icon-edit:before {
  content: "\e011";
}
.icon-image:before {
  content: "\e02d";
}
.icon-lucky:before {
  content: "\e050";
}
.icon-pacman:before {
  content: "\e054";
}
.icon-clone:before {
  content: "\e091";
}
.icon-folder:before {
  content: "\e098";
}
.icon-phone:before {
  content: "\e0dc";
}
.icon-email:before {
  content: "\e0eb";
}
.icon-map:before {
  content: "\e0f1";
}
.icon-clock:before {
  content: "\e101";
}
.icon-alarm:before {
  content: "\e10a";
}
.icon-training:before {
  content: "\e111";
}
.icon-calendar:before {
  content: "\e113";
}
.icon-print:before {
  content: "\e117";
}
.icon-undo:before {
  content: "\e14b";
}
.icon-redo:before {
  content: "\e14c";
}
.icon-note:before {
  content: "\e164";
}
.icon-user:before {
  content: "\e185";
}
.icon-users:before {
  content: "\e186";
}
.icon-user-add:before {
  content: "\e187";
}
.icon-impersonate:before {
  content: "\e18d";
}
.icon-community:before {
  content: "\e198";
}
.icon-find:before {
  content: "\e1ba";
}
.icon-expand:before {
  content: "\e1c8";
}
.icon-collapse:before {
  content: "\e1c9";
}
.icon-locked:before {
  content: "\e1d3";
}
.icon-unlocked:before {
  content: "\e1d4";
}
.icon-equipment:before {
  content: "\e1d7";
}
.icon-cog:before {
  content: "\e1df";
}
.icon-health:before {
  content: "\e1ef";
}
.icon-injury:before {
  content: "\e1f0";
}
.icon-graph:before {
  content: "\e206";
}
.icon-event:before {
  content: "\e216";
}
.icon-achievement:before {
  content: "\e218";
}
.icon-apple:before {
  content: "\e22e";
}
.icon-low:before {
  content: "\e237";
}
.icon-medium:before {
  content: "\e238";
}
.icon-high:before {
  content: "\e239";
}
.icon-trash:before {
  content: "\e250";
}
.icon-travel:before {
  content: "\e25a";
}
.icon-bike:before {
  content: "\e261";
}
.icon-power:before {
  content: "\e28e";
}
.icon-test:before {
  content: "\e295";
}
.icon-checklist:before {
  content: "\e296";
}
.icon-list-ul:before {
  content: "\e29b";
}
.icon-list-ol:before {
  content: "\e29d";
}
.icon-menu:before {
  content: "\e2af";
}
.icon-light-cloud:before {
  content: "\e2b3";
}
.icon-heavy-cloud:before {
  content: "\e2b5";
}
.icon-download:before {
  content: "\e2b8";
}
.icon-upload:before {
  content: "\e2b9";
}
.icon-link:before {
  content: "\e2cb";
}
.icon-unlink:before {
  content: "\e2cc";
}
.icon-flag:before {
  content: "\e2d1";
}
.icon-attachment:before {
  content: "\e2d7";
}
.icon-view:before {
  content: "\e2d9";
}
.icon-unview:before {
  content: "\e2da";
}
.icon-bookmark:before {
  content: "\e2e3";
}
.icon-weather:before {
  content: "\e2ec";
}
.icon-thunderstorm:before {
  content: "\e2ed";
}
.icon-rain:before {
  content: "\e2ee";
}
.icon-snow:before {
  content: "\e2ef";
}
.icon-sun:before {
  content: "\e2f3";
}
.icon-rest:before {
  content: "\e2fa";
}
.icon-star-empty:before {
  content: "\e2ff";
}
.icon-star:before {
  content: "\e301";
}
.icon-bpm:before {
  content: "\e30a";
}
.icon-life:before {
  content: "\e324";
}
.icon-fatigue:before {
  content: "\e336";
}
.icon-move:before {
  content: "\e352";
}
.icon-warning:before {
  content: "\e356";
}
.icon-notice:before {
  content: "\e358";
}
.icon-circle-question:before {
  content: "\e35c";
}
.icon-circle-info:before {
  content: "\e363";
}
.icon-circle-cross:before {
  content: "\e366";
}
.icon-circle-check:before {
  content: "\e368";
}
.icon-cross:before {
  content: "\e36b";
}
.icon-tick:before {
  content: "\e370";
}
.icon-reload:before {
  content: "\e3a8";
}
.icon-reprocess:before {
  content: "\e3a9";
}
.icon-up:before {
  content: "\e3b0";
}
.icon-right:before {
  content: "\e3b1";
}
.icon-down:before {
  content: "\e3b2";
}
.icon-left:before {
  content: "\e3b3";
}
.icon-dock:before {
  content: "\e3e3";
}
.icon-swap:before {
  content: "\e423";
}
.icon-bold:before {
  content: "\e457";
}
.icon-underline:before {
  content: "\e458";
}
.icon-italic:before {
  content: "\e459";
}
.icon-break:before {
  content: "\e45c";
}
.icon-justify-left:before {
  content: "\e475";
}
.icon-justify-right:before {
  content: "\e477";
}
.icon-justify:before {
  content: "\e478";
}
.icon-jump:before {
  content: "\e47c";
}
.icon-popout:before {
  content: "\e47d";
}
.icon-html:before {
  content: "\e481";
}
.icon-twitter:before {
  content: "\e49d";
}
.icon-video:before {
  content: "\e4a4";
}
.icon-skype:before {
  content: "\e4cd";
}
.icon-clear:before {
  content: "\e600";
}
.icon-help:before {
  content: "\e601";
}
.icon-add:before {
  content: "\e602";
}
.icon-mist:before {
  content: "\e603";
}
.icon-trek:before {
  content: "\e901";
}
.icon-sky:before {
  content: "\e902";
}
.icon-cut:before {
  content: "\e903";
}
.icon-beta:before {
  content: "\e904";
}
.icon-sprint:before {
  content: "\e905";
}
.icon-crit:before {
  content: "\e906";
}
.icon-ttt:before {
  content: "\e907";
}
.icon-itt:before {
  content: "\e908";
}
.icon-cobblestone:before {
  content: "\e909";
}
.icon-mountain-finish:before {
  content: "\e90a";
}
.icon-mountain:before {
  content: "\e90b";
}
.icon-equip-commute:before {
  content: "\e90c";
}
.icon-equip-cx:before {
  content: "\e90d";
}
.icon-equip-indoor:before {
  content: "\e90e";
}
.icon-equip-mtb:before {
  content: "\e90f";
}
.icon-equip-road:before {
  content: "\e910";
}
.icon-equip-ss:before {
  content: "\e911";
}
.icon-equip-track:before {
  content: "\e912";
}
.icon-equip-tt:before {
  content: "\e913";
}
.icon-ellipsis:before {
  content: "\e914";
}
.icon-activity-page:before {
  content: "\e915";
}
.icon-user-stats:before {
  content: "\e916";
}
.icon-cup:before {
  content: "\e917";
}
.icon-equip-gravel:before {
  content: "\e918";
}
.icon-period:before {
  content: "\e919";
}
.icon-target:before {
  content: "\e931";
}
.unclamp {
  display: block;
  max-height: 999px;
}
/* inherits from ../default-variables.less */
/*

styling used in the summary grid stacks 

*/
.grid-stack > .grid-stack-item > .grid-stack-item-content {
  border: none;
  border-left: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.grid-stack > .grid-stack-item > .grid-stack-item-content .title {
  color: #888;
  font-size: 12px;
}
.main-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.main-content .site-header {
  width: 100%;
  height: 100px;
}
.new-dash-container {
  margin-bottom: 15px;
}
.new-dash-container .heading {
  min-height: inherit;
  padding: 10px;
}
.new-dash-container .heading .profile-manager-container .title {
  margin-left: 5px;
}
.new-dash-container .heading .widget-picker-controls a {
  padding: 4px;
  color: green;
  border-radius: 6px;
  border: 1px solid #c4c4c4;
  background-color: lightgray;
}
.new-dash-container .heading .widget-picker-controls .help-btn {
  padding: 0px;
  margin-left: 4px;
}
.new-dash-container .widget-layout-container .grid-stack {
  margin: 10px;
  border: 1px solid #c3c3c3;
}
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content {
  border: none;
  padding: 2px 2px 2px 2px;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  background-color: #eaeaea;
}
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content .grid-item-header {
  top: 4px;
  width: 100%;
  cursor: move;
  min-height: 23px;
  box-sizing: border-box;
  position: absolute;
  right: 5px;
}
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content .grid-item-header span.dropdown {
  margin-right: 5px;
}
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content .grid-item-header span.filter-dropdown-text {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content .grid-item-header .title {
  color: #0079c1;
  font-size: 20px;
  font-weight: 500;
}
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content .grid-item-body {
  overflow-x: auto;
}
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content a.has-tooltip,
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content span.has-tooltip {
  border: none;
}
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content .dropdown-menu i[class^="icon-"],
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content .dropdown-menu i[class*=" icon-"] {
  display: inline-block;
  width: 16px;
  margin-top: 2px;
}
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content .dropdown-menu i[class^="icon-"]:first-child,
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content .dropdown-menu i[class*=" icon-"]:first-child {
  margin-right: 3px;
}
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content .dropdown-menu i[class^="icon-"].pull-right,
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content .dropdown-menu i[class*=" icon-"].pull-right {
  margin-left: 5px;
}
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content .dropdown-menu i[class^="icon-"].icon-premium,
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content .dropdown-menu i[class*=" icon-"].icon-premium {
  margin-top: 0;
}
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content .dropdown-menu i[class^="icon-"].icon-premium:before,
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .grid-stack-item-content .dropdown-menu i[class*=" icon-"].icon-premium:before {
  font-size: 1.4em;
}
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item .slide-menu {
  display: none;
}
.new-dash-container .widget-layout-container .grid-stack .grid-stack-item:hover .slide-menu {
  display: block !important;
}
.temp-bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: -webkit-fill-available;
}
.green-tick {
  color: #63A82B !important;
}
.red-tick {
  color: #a91c18 !important;
}
